POSTGRES_PAYHUB_USER=payhub
POSTGRES_PAYHUB_PASSWORD=payhub_pass
POSTGRES_PAYHUB_DB=payhub
PORT=3000
JWT_SECRET=local_dev_jwt_secret_very_long
WEBHOOK_SECRET=most_secret
DATABASE_URL=postgresql://payhub:payhub_pass@payhub-db:5432/payhub?schema=public